@use '@/styles/scss/utils/padding';
@use '@/styles/scss/variables/colors' as kColor;

$header_sidebar_color: kColor.$kColorPrimary--6;

.ct_layout_dashboard__sidebar {
  :where(.anticon-close) {
    color: kColor.$kColorDanger--1;
  }
  :where(.ant-drawer-header) {
    background-image: linear-gradient(
      0.25turn,
      $header_sidebar_color,
      kColor.$kColorPrimary--5,
      kColor.$kColorPrimary--5,
      $header_sidebar_color
    );
    padding: 0.9375rem 2.5rem !important;
    z-index: 1000;
    color: kColor.$kColorDanger--0;
  }
  :where(.ant-drawer-body) {
    padding: 0px !important;
    padding-top: 0.5rem !important;

    background-image: linear-gradient(
      0.25turn,
      $header_sidebar_color,
      kColor.$kColorPrimary--5,
      kColor.$kColorPrimary--5,
      $header_sidebar_color
    );
    :where(.ant-collapse-header) {
      background-color: kColor.$kColorPrimary--0;
      :where(.ant-collapse-header-text) {
        font-weight: bold;
      }
    }
  }
}
