@use '@/styles/scss/utils/margin';
@use '@/styles/scss/utils/padding';
@use '@/styles/scss/variables/colors' as kColor;

.ct_layout_dashboard {
  background-color: kColor.$kColorBackground--dashboard;
  &__content {
    min-height: 100dvh;
    background-image: url('/src/assets/images/background-profile.gif');
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__button {
        width: 100%;
      }
    }
  }
}
