@use '@/styles/scss/utils/margin';
@use '@/styles/scss/utils/padding';
@use '@/styles/scss/variables/colors' as kColor;

.ct_layout_dashboard {
  background-color: kColor.$kColorBackground--dashboard;
  &__inner {
    &__background_video {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    min-height: 100dvh;
    background-image: url('/src/assets/images/profile-background-fallback.webp');
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__button {
        width: 100%;
      }
    }

    &__children_container {
      max-height: 90dvh;
      overflow: scroll;

      @extend .px--4;
      @extend .py--3;

      @media only screen and (max-width: 575px) {
        max-height: 96dvh;
        padding-top: 0.5rem;
      }
    }
  }
}
