@use '@/styles/scss/utils/padding';
@use '@/styles/scss/variables/colors' as ctColor;

$header_sidebar_color: ctColor.$ctColorPrimary--6;

.ct_layout_dashboard__header {
  top: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  opacity: 95%;
  height: 4dvh;
  &--mobile {
    background-color: $header_sidebar_color;
    background-image: linear-gradient(
      0.25turn,
      $header_sidebar_color,
      ctColor.$ctColorPrimary--5,
      ctColor.$ctColorPrimary--5,
      $header_sidebar_color
    );
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &__title {
    color: ctColor.$ctColorDanger--0;
    font-size: 2dvh;
  }

  :where(.anticon) {
    font-size: 2dvh;
    &:where(.anticon-close) {
      font-size: 1.5dvh;
    }
  }
}
