@use '@/styles/scss/utils/padding';
@use '@/styles/scss/variables/colors' as kColor;

$header_sidebar_color: kColor.$kColorPrimary--6;

.ct_layout_dashboard__header {
  top: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  opacity: 95%;
  height: 7dvh;
  &--mobile {
    background-color: $header_sidebar_color;
    background-image: linear-gradient(
      0.25turn,
      $header_sidebar_color,
      kColor.$kColorPrimary--5,
      kColor.$kColorPrimary--5,
      $header_sidebar_color
    );

    border-bottom: 3.5px solid kColor.$kColorPrimary--3;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &__title {
    color: kColor.$kColorDanger--0;
    font-size: 1.25rem;
  }

  :where(.anticon) {
    font-size: 1.25rem;
    &:where(.anticon-close) {
      font-size: 0.825rem;
      padding-bottom: 1.825rem;
    }
  }
}
