@use '@/styles/scss/utils/padding';
@use '@/styles/scss/variables/colors' as kColor;

$header_sidebar_color: kColor.$kColorPrimary--6;

.ct_layout_dashboard__header {
  top: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header_sidebar_color;
  border-bottom: 3.5px solid kColor.$kColorPrimary--3;
  opacity: 95%;

  &__title {
    color: kColor.$kColorDanger--0;
    font-size: 26px;
  }

  &--dark {
    box-shadow: kColor.$kColorPrimary--main 0px 8px 24px;
    border-bottom: thin solid kColor.$kColorPrimary--1;
    background-color: kColor.$kColorNeutral--5;

    :where(.ant-input-outlined),
    :where(.ant-input-affix-wrapper),
    :where(.ant-input-outlined),
    :where(.ant-input) {
      background-color: transparent !important;
      border-color: kColor.$kColorNeutral--1 !important;
      color: kColor.$kColorNeutral--1 !important;

      &::placeholder {
        background-color: transparent !important;
        border-color: kColor.$kColorNeutral--3 !important;
        color: kColor.$kColorNeutral--3 !important;
      }

      &:hover,
      &:focus-within {
        background-color: transparent !important;
        border-color: kColor.$kColorPrimary--3 !important;
        color: kColor.$kColorPrimary--3 !important;
      }
    }

    :where(.ant-input-prefix),
    :where(.ant-input-suffix > .ant-input-clear-icon) {
      color: kColor.$kColorNeutral--1 !important;
    }

    :where(.ant-input-affix-wrapper-focused > .ant-input-prefix),
    :where(
        .ant-input-affix-wrapper-focused
          > .ant-input-suffix
          > .ant-input-clear-icon
      ) {
      color: kColor.$kColorPrimary--3 !important;
    }
  }
  @extend .px--2;
}
