// Breakpoints
// -----------------------------------------------------------
// For the sake of layout responsivability.

// These breakpoints is based on antd's breeakpoint's
// value. You can check it more on
// https://ant.design/components/layout#breakpoint-width

$kBreakPoint--xs: 480px;
$kBreakPoint--sm: 576px;
$kBreakPoint--md: 768px;
$kBreakPoint--lg: 992px;
$kBreakPoint--xl: 1200px;
$kBreakPoint--xxl: 1600px;

// Based on desktop common resolution
$desktopWidth--sd: 854px;
$desktopWidth--hd: 1280px;
$desktopWidth--fullhd: 1920px;
$desktopWidth--2k: 2560px;
$desktopWidth--4k: 3840px;
$desktopWidth--8k: 7680px;

$desktopHeight--sd: 480px;
$desktopHeight--hd: 720px;
$desktopHeight--fullhd: 1080px;
$desktopHeight--2k: 1440px;
$desktopHeight--4k: 2160px;
$desktopHeight--8k: 4320px;
