// Colors
// -----------------------------------------------------------
// Color palettes defined for use throughout the design system.

// CAUTION! If you want to change the value, or want to
// add more colors, please sync up in `./src/constants/
// theme/colors.constants.ts` too to prevent confusion.

$kColorPrimary--main: #10eac6;
$kColorPrimary--0: #60a2d4;
$kColorPrimary--1: #4d78df;
$kColorPrimary--2: #223da8;
$kColorPrimary--3: #4d5f97;
$kColorPrimary--4: #546b75;
$kColorPrimary--5: #29396a;
$kColorPrimary--6: #151c30;

$kColorDanger--main: #ef1313;
$kColorDanger--0: #f4db35;
$kColorDanger--1: #ee9d2a;
$kColorDanger--2: #aa3000;
$kColorDanger--3: #d7ceba;
$kColorDanger--4: #bc836f;
$kColorDanger--5: #786a5f;

$kColorNeutral--main: #fdfdfb;
$kColorNeutral--0: #ffffff;
$kColorNeutral--1: #d6d7d8;
$kColorNeutral--2: #adaeb1;
$kColorNeutral--3: #838689;
$kColorNeutral--4: #272a2f;
$kColorNeutral--5: #141518;

$kColorBackground--dashboard: $kColorNeutral--0;
