// Colors
// -----------------------------------------------------------
// Color palettes defined for use throughout the design system.

// CAUTION! If you want to change the value, or want to
// add more colors, please sync up in `./src/constants/
// theme/colors.constants.ts` too to prevent confusion.

$ctColorPrimary--main: #10eac6;
$ctColorPrimary--0: #60a2d4;
$ctColorPrimary--1: #93da97;
$ctColorPrimary--2: #5e936c;
$ctColorPrimary--3: #4d5f97;
$ctColorPrimary--4: #3e5f44;
$ctColorPrimary--5: #29396a;
$ctColorPrimary--6: #17313e;

$ctColorDanger--main: #ef1313;
$ctColorDanger--0: #f4db35;
$ctColorDanger--1: #ee9d2a;
$ctColorDanger--2: #aa3000;
$ctColorDanger--3: #d7ceba;
$ctColorDanger--4: #bc836f;
$ctColorDanger--5: #786a5f;

$ctColorNeutral--main: #fdfdfb;
$ctColorNeutral--0: #ffffff;
$ctColorNeutral--1: #d6d7d8;
$ctColorNeutral--2: #adaeb1;
$ctColorNeutral--3: #838689;
$ctColorNeutral--4: #17313e;
$ctColorNeutral--5: #141518;

$ctColorBackground--dashboard: $ctColorNeutral--5;
